/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/GellixBlack-2.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/GellixRegular-2.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/GellixMedium-2.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/GellixBold-2.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/GellixSemiBold-2.otf') format('truetype');
}